:root {
    --branco: #FFFFFF;
    --preto: #1F1B1B;
    --preto-claro: #464646;
    --cinza: #746F6F;
    --cinza-claro: #9B9595;
    --preto-transparente: #0000000F;

    --sombra: .3rem .3rem .3rem rgba(0, 0, 0, .2);

    --familia-fonte: 'Raleway', sans-serif;
    --tamanho-corpo-mobile: .875rem;
    --tamanho-corpo: 1rem;
    --tamanho-titulo-notmobile: 3.25rem;
    --tamanho-descricao-banner-notmobile: 1.375rem;
    --tamanho-titulo: 1.375rem;
    --tamanho-descricao-banner: .875rem;
    --tamanho-destaque: 1rem;

    --peso-destaque: 700;
    --peso-botao: 600;
    --peso-padrao: 500;
}