.banner {
    max-width: 100vw;
    background-image: url(../../img/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 192px;
    color: var(--branco);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: .8rem;
}
.banner_botao {
    align-self: flex-start;
}
@media screen and (min-width: 700px) {
    .banner {
        height: 352px;
    }
}